.btn {
  border-radius: 8px;
  letter-spacing: 0.03rem;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 3px 6px #c9d8f4;
  transition: 0.5s;
  margin-right: 0.5rem;
  &:hover {
    cursor: pointer;
  }
}

.btn-outline {
  padding: 13.5px 44px;
  background: transparent;
  color: $primary-color;
  border: 2px solid $primary-color;
  &:hover {
    color: #fff;
    background: $primary-color;
  }
}

.btn-contain {
  padding: 15.5px 46px;
  background: linear-gradient(120deg, #60a4f4, #2a73dd);
  color: #fff;
  border: none;
  &:hover {
    color: #fff;
    opacity: 0.75;
  }
}
